.body-content  {
  justify-content: center;
  width: 100%;
  color: white;
}

.background {
    width: 100vw;
    height: 80vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.poster {
  &.details {
    height: 450px;
  }
}

.menu {
  .fa {
    border: 2px solid white;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .15);
    color: white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-right: 20px;
    margin-bottom: 30px;

    &:before {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center
    }

    &:hover {
      background-color: black;
      border-color: black;
      transition: all 0.3s;
    }
  }
}

.container {
  align-items: center;
}

.info {
  padding-left: 50px;
  height: 450px;
}
.title-bar {
  align-items: center;
  margin-bottom: 30px;
  .title {
    font-size: 2.5em;
    padding-right: 10px;
  }
}

.first-air-date {
  font-size: 1.5em;
  padding-top: 5px;
}

.overview {
  .title {
    margin-bottom: 8px;
    font-size: 1.5em;
  }
  .content {
    font-size: 1.1em;
    line-height: 1.4em;
  }
}
