.grey_column {
  width: 30%;
  background-color: #f1f1f1;
  padding: 40px;
  color: black;

  .icon_item {
    margin-right: 10px;
    color: black;
  }

  .title {
    font-weight: 600;
    color: black;
    font-size: 17px;
    padding-top: 15px;
    clear: both;
  }

  .content {
    // clear: both;
    img {
      margin-top: 5px;
      margin-right: 5px;
    }

    span {
      line-height: 200%;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: #3498db;
      }
    }

    .genre_item, .keyword_item {
      padding: 5px 10px;
      background-color: white;
      border-radius: 5px;
      margin: 10px 10px 0px 0px;
      float: left;
    }
  }
} //grey_column
