@import 'variables';
.navbar {
  background-color: $navbar-bg;
  height: 120px;
}

.logo {
  img {
    height: 90px;
  }
}

.dropdown{
  padding-left: 0;
  padding-right: 10px;
}

.dropdown-content {
  display: none;
  padding-left: 10px;
}

.dropdown-list {
  &:hover {
    position: relative;
    .dropdown-content {
      display: block;
      display: flex;
      position: absolute;
      .nav-link {
        padding: 5px 0;
        min-width: 90px;
        font-size: 0.8em;
      }
    }
  }
}


ul, li {
  display: inline-block;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.nav-link {
  padding: 0;
  font-weight: 600;
}

.search-bar {
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #dedede;
}
.search {
  padding: 0 50px;
  height: 100%;
  width: 80%;
  margin: auto;
  .fa-search {
    align-items: center;
    font-size: 1.3em;
    color: #acacac;
    &:hover {
      color: black;
      transition: all 0.0s;
    }
  }
}

.search-box {
  border: none;
  font-style: italic;

}

.header {
  background-color: $navbar-bg;
  height: 170px;
}

.navigation {
  width: 1000px;
}
