
.white_column {
  width: 70%;
  padding: 40px;
  padding-left: 160px;
  background: white;

  .people {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 0px;
    .person {
      box-shadow: 2px 2px 5px #95a5a6;
      margin-right: 10px;
      border: 1px solid #e3e3e3;
      width: 139px;
      &:last-child {
        margin-right: 0px;
      }

      &:hover {
        box-shadow: 3px 3px 5px #7f8c8d;

      }
    }// person

    .character {
      padding: 10px;
      a {
        text-decoration: none;
        font-weight: 700;

        &:hover  {
          color: #068039;
        }
      }


    } // character
  } // people

  .link {
    color: #302621;
    text-decoration: none;
    &:hover {
      color: #068039;
    }
  } // full_cast_crew
  .menu {
    display: flex;
    flex-flow: row nowrap;

    .menu_item {
      flex-grow: 1;
      font-weight: 700;
      margin-left: 30px;
      padding: 5px 0px;
      text-align: center;
      cursor: pointer;
    }

    .view_more {
      // display: inline-flex;
      font-size: 15px;
      font-weight: normal;
    }

    .active {
      border-bottom: 5px solid black;
    }
  } //menu

  .no_review {
    padding: 10px 0px 20px 0px;
  } // no_review

  .grouped {
    box-shadow: 0px 0px 5px #ddd;
    border: 1px solid #ccc;
    // padding: 20px;
    margin: 20px 0px;
    display: flex;

    .avatar {
      padding: 10px;
      img {
        border-radius: 50%;
      }
    }

    .info {
      padding: 10px;
    }
  } // grouped // social

  .content_media {
    display: flex;
    overflow-x: scroll;
    margin: 20px 0px;
    box-shadow: 0px 0px 5px #ddd;


  } // content_media

  .recommendations {
    display: flex;
    overflow-x: scroll;
    margin: 20px 0px;

    .recommendations_item {
      position: relative;
      img {
        margin: 0px 20px;
        border-radius: 5px;
        &:first-child {
          margin-left: 0px;
        }
      }

      .meta {
        height: 40px;
        width: 100%;
        padding-right: 20px;
        position: absolute;
        top: 55%;
        display: none;


      }


      &:hover {
        cursor: pointer
      }
      &:hover .meta {
        background-color: rgba(255,255,255,0.8);
        display: block;
      }

    } //recommendations_item


  } //recommendations

  .title {
    padding: 10px 20px 10px 0px;
    font-family: 'Vidaloka', serif;


    .link_title {
      text-decoration: none;
      &:hover {
        color: #3498db;
      }
    }
  }
} //white column











// .rating {
//   unicode-bidi: bidi-override;
//   direction: rtl;
//   color: #d35400;
// }
// .rating > span {
//   display: inline-block;
//   position: relative;
//   width: 1.1em;
// }
// .rating > span:hover:before,
// .rating > span:hover ~ span:before {
//    content: "\2605";
//    position: absolute;
// }


// circle


