.list {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px !important;
}
.item {
  float: left;
  width: $cardWidth;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  button {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border: none;
    border-top: solid 1px #E6E6E6;
  }
}

img {
  &.item-poster {
    height: $imagePosterHeigh;
    width: $imagePosterWidth;
  }
}

.item-info {
  position: relative;
  width: 300px;
  background-color: white;
  padding: 15px 20px;
}

.item-title {
  justify-content: space-between;
}

.overview,.relate-year {
  font-size: 0.9em;
}

.title {
  font-size: 1.2em;
}
.title,.relate-year,.vote-average {
  font-weight: 600;
}
