.grey_column {
  width: 30%;
  background-color: #f1f1f1;
  padding: 40px;
  color: black;

  .icon_item {
    margin-right: 10px;
    color: black;
  }

  .title {
    font-weight: 600;
    color: black;
    font-size: 17px;
    padding-top: 15px;
  }

  .content {
    img {
      margin-top: 5px;
      margin-left: 0px;
    }

    span {
      line-height: 200%;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: #3498db;
      }
    }
  }
} //grey_column
