.content_wrapper {
  display: flex;

  flex-flow: row wrap;
  background-color: white;
  justify-content: center;

  border-bottom: 1px solid #ddd;
  .shortcut_bar {
    // padding: 15px 45px;
    flex-grow: 1;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;

    a {
      text-decoration: none;
      color: #a3a3a3;
    }

    &:hover {

      border-bottom: 5px solid red;
      padding-bottom: 10px;
      a {
        color: black;
      }
    }
  } //shortcut_bar
} // content_wrapper
