.list{
  padding: 24px 0;
  .index {
    width: 500px;
    float: left;
    margin: 20px;
    display: flex;
    box-shadow: 5px 5px 5px #e5e5e8;
    position: relative;
    .image {
      &.avatar {
        height: 300px;
        width: 180px;
        position: relative;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f7f7f7;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: 0.1s ease;
        .text {
          white-space: nowrap;
          color: black;
          font-size: 20px;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
    }
    .image:hover .overlay {
      height: 15%;
    }
    .detail{
      margin: 5px;
      width: 300px;
      .title{
        text-decoration: none;
        font-weight: 'bold';
        color: black;
      }
      .second-row{
        display: flex;
        .release-date{
          .calendar{
            margin-right: 5px;
          }
        }
        .vote-average{
          position: absolute;
          right: 0;
          margin-right: 5px;
          .star{
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.filtering{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.filter_element{
  width: 220px;
}
