body {
  background-color: #e6e6ff;
}

.item {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 5px;
  border: 0 white;
  border-radius: 10px;
  box-shadow: 2px solid #e6e6ff;
  background-color: white;
  .meta {
      background-color: #f9ecf2;
      border-radius: 10px;
      height: 40px;
      a {
        margin-left: 10px;
      }
      a:hover {
        text-decoration: none;
      }
  }
}

