@import 'variables';
body {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', sans-serif;
}
//people
.people_div{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagination{
  //padding-left: 40px;
  .left{
    padding-top: 10px;
  }
  .right{
    padding-left: 800px;
  }
  a {
    font-size: 30px;
  }
}
//people_ person
.profile{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 7px;
}
.card{
  margin-bottom: 10px;
  background:transparent;
  border:none;
}
.item {
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 2px solid #e6e6ff;
  position: relative;
  border-radius: 20px;
  margin-left: 0;
  padding-left: 0;
}
.image{
  //display: block;
  height :245px;
  width:230px;
  padding-left: 0px;
}
.meta {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  transition: .5s ease;
  width: 100%;
  height: 35px;
  font-size: 14px;
  p{
    display: none;
    width:100%;
    font-size: 14px;
    transition: .9s ease;
  }
  a{
    color: black;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 30%;
    width:100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  a {
    margin-left: 51px;

  }
  a:hover {
    text-decoration: none;
    transition: .9s ease;
  }
}
.item:hover .meta {
  height: 25%;
  p{
    display: block;
  }
}
//person-detail
.text_biogrh{
  color: white;
  p {
    font-size: 18px;
    padding-right: 18px;
  }
}
.per_inf{
  background-color: white;
  .inf{
    background-color: #f4f4f4;
    margin-left: -16px;
  }
}
.right{
  float: right;
}
.official_site {
  a{
    color: #33ff77;
  }
  a:visit {
    color: green;
    text-decoration: none;
  }
  a:hover {
    color: green;
    text-decoration: none;
  }
}
//top header
.topheader{
  background: rgba(0,0,0,0.75);
  margin: 0;
}
//modal_read more
.modal_biogr {
  max-width: 60%;
  .md_header{
    background-color: $logo-color;
  }
}
.md_readmore a{
  color: $logo-color;
  a:visit {
    color: green;
  }
  a:hover {
    color: green;
  }
}
//modal expand
.expand_image_nav{
  .expand_image{
  width: 381px;
  height: 572px;
  padding-right: 15px;
  }
  .expand_infor{
    .expand_close{
      margin-bottom: 150px;
    }
    .expand_content{
      padding-left: 15px;
      padding-right: 15px;
      .expand_text{
         padding-bottom: 2px;
        font-size: 13px;
        a{
          font-size: 15px;
          :hover{
            text-decoration: 1px;;
          }
        }
      }
    }
  }
}
//person image
.bg-image{
  position: relative;
  overflow: visible;
  //border: 0.5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-left: -18px;
  margin-right: 40px;
}

.bg-image{
    position: relative;
}
.per_img{
display: block;
width:280px;
height:400px;
}
.zoom_image{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-image:hover .zoom_image{
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

//sub navbar
.sub_nav{
  background-color: white;
  width:100%;
  box-shadow: 2px solid #e6e6ff;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 30px;
  background-color:
  h5{
    color: grey;
  }
}
.read_more{
  color:  #00b33c;
  :hover{
    text-decoration: none;
    color: green;
  }
}

//sub_navbar
.sub_navbar_wrapper{
  width: 100%;
  display: block;
  .sub_navbar{
    padding-left: 15px;
    font-size: 20px;
    color: grey;
    display: flex;
    .sub_navbar_tab{
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      margin: 5px 50px 5px 5px;;
    }
    .sub_navbar_tab:hover{
      color: green;
      border-bottom: 3px solid green;
      margin-bottom: 0px;;
    }
  }
}
//per_movies
.content{
  h4{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
  }
  .know_for_img{
    width: 180px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .btn_group{
    float: left;
  }
  .act {
    float:left;
  }
  .btn_group {
    float: right;
    padding-bottom: 5px;
  }
  .know_for_title{
    font-size: 14px;
    padding-bottom: 10px;
  }
}
//per_movies
.per_movies{
  padding-left: 20px;
  .per_movies_div {
    padding-bottom: 20px;
    .know_for_img :hover{
      opacity: 0.8;
    }
    a{
      :hover{
        text-decoration: none;
      }
    }
  }
}
//Tv_Show and movie
.per_movies_content{
  width: 80%;
  margin-left: 76px;
  .tb_movies{
    border:1px;
    //padding: 0;
    //border-collapse: separate;
    //padding: 6px 0 0 0;
    margin-bottom: 0rem;
    tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
    td{
      padding:0;
    }
    .tb_year{
      width: 30px;
      font-weight: bold;
      vertical-align: top;
    }
    .tb_view{
      padding-top:10px;
      color: #ccc;
      width: 30px;
    }
    .tb_view:hover{
      color: #00b33c;
    }
    td{
     // padding: 8px 20px 8px 20px;
    }
    .tb_movie{
      padding-top: 10px;
    }
  }
}
