body {
  background-color: #e6e6ff;
  font-family: 'Source Sans Pro', sans-serif;
}
//people
.pagination{
  padding-left: 30px;
  .left{
    padding-top: 10px;
  }
  .right{
    padding-left: 800px;
  }
  a {
    font-size: 30px;
  }
}
//people_ person
.card{
  margin-bottom: 10px;
  background:transparent;
  border:none;
}
.item {
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 2px solid #e6e6ff;
  position: relative;
  border-radius: 20px;
}
.image{
  display: block;
}
.meta {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
  transition: .5s ease;
  width: 84%;
  height: 35px;

  p{
    display: none;
    width:100%;
    font-size: 15px;
  }
  a{
    color: black;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 30%;
    width:100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  a {
    margin-left: 51px;

  }
  a:hover {
    text-decoration: none;
  }
}
.item:hover .meta {
  height: 20%;
  p{
    display: block;
    width:100%;
  }
}

//person-detail
.per_inf{
  background-color: white;
  .inf{
    background-color: #e6e6ff;
  }
}
.right{
  float: right;
}

//modal
.modal_biogr {
  max-width: 80%;
  .md_header{
    background-color: #33ff77;
  }
}
.md_readmore a{
  color: green;
  a:visit {
    color: green;
  }
  a:hover {
    color: green;
  }
}
.per_img{
  width:280px;
  height:400px;
  border: 0.5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.sub_nav{
  background-color: white;
  width:100%;
  box-shadow: 2px solid #e6e6ff;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  font-size: 30px;
  h5{
    color: grey;
  }
}
.read_more{
  color:  #00b33c;
  :hover{
    text-decoration: none;
    color: green;
  }
}
//know_for
.content{
  h4{
    padding: 5px;
  }
  .know_for_img{
    width: 150px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
  }
  .btn_group{
    float: left;
  }
  .act {
    float:left;
  }
  .btn_group {
    float: right;
    padding-bottom: 5px;
  }
}
