
$font-family-base: 'Source Sans Pro', sans-serif;


$navbar-bg: #081c24;
$logo-color: #00d373;

//font-size
$font-size-large: 2em;
$imagePosterHeigh: 280px;
$imagePosterWidth: 185px;
$cardWidth: 485px;


// default brand
$brand-primary:black ;

